body {
    background-color: #f0f0f0;
}

#main-container {
    box-shadow: 5px 5px 10px 1px #ccc;
}

table {
    border-collapse: collapse;
    width: 60%;
    box-shadow: 5px 5px 10px 1px #ccc;
}

thead td {
    font-weight: bold;
    font-variant: small-caps;
}

table, tr {
    border: 1px solid #ddd;
}

td {
    padding: 0.5em;
}

.warning-overlay {
    display: none;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d2d2d2a6;
}

.warning-overlay wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}