@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    min-height: 100vh;
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
}

#map {
    height: 75vh;
}

#global-stats .card-header {
    font-size: 95%;
}

#global-stats span {
    font-size: 2.75vh;
    font-weight: 500;
}

#recovered-deaths h6 {
    margin: 0;
}

.googleMapMarker {
    min-width: 8em;
    max-width: 12em;
}

.googleMapRightControl {
    background: #efefef;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1rem;
    width: 225px;
    font-size: 1.125rem;
    opacity: 0.9;
}

.googleMapRightControl td:nth-child(1) {
    padding: 0.125rem 1rem;
    text-align: right;
}

@media only screen and (max-width: 850px) {
    .googleMapRightControl {
        padding: 20px;
        width: 120px !important;
        font-size: 10px;
    }

    .googleMapRightControl td:nth-child(1) {
        padding: 0.125rem 0.5rem;
        text-align: right;
    }
}